.jumbotron
  %h1 Спасибо за помощь!

  %p
  %p
    За время работы ты дал
    = @answers_count
    ответов. Это солидная помощь науке.

  %p
    Если вдруг захочешь помочь ещё немного - нажми на
    %a{href: '/work'}
      "Помочь ещё"
    или возвращайся попозже.

  %p
    Если больше не хочешь помогать - мы сгенерировали тебе диплом на память. Забери его по ссылке:
    %a{href: 'http://goo.gl/SsAhv'}
      Диплом