.jumbotron
  %h1 Привет!
  %p
    Это приложение для разметки родовидовых связей. Нам нужна твоя помощь!
  %p
    Родовидовая связь - связь между двумя словами или словосочетаниями, одно из которых - более общее по отношению ко второму.
    %br
    = 'Например, слово <b><i>"животное"</i></b> является более общим по отношению к <b><i>"волк"</i></b>, <b><i>"синий кит"</i></b> и <b><i>"бульдог"</i></b>.'

  %p
    = 'Твоим заданием будет выбрать для слова слева более общее понятие из предложения справа. Если таких несколько - выбери менее общее - например, если слева находится слово <b><i>"бульдог"</i></b>, а справа - слова <b><i>"собака"</i></b> и <b><i>"животное"</i></b> - выбери слово <b><i>"собака"</i></b>.'
  %p
    Если справа нет ни одного подходящего слова или ты не знаешь правильного ответа - просто нажимай "далее".
  %p
    Если чувствуешь, что более точным будет выбрать не слово, а словосочетание - не стесняйся и выбирай :)

  %p
    Поехали?

  %p
    %a.btn.btn-success{href: '/work'}
      Начать работу