%p
  %h4 Для слова слева выбери родовое слово или словосочетание из предложения справа. Для этого - просто нажимай по нужным словам.

.work-pane.panel.panel-info
  .panel-heading
  .panel-body
    .task
      #hypernym
      #description
    .submit
      %a.btn.btn-primary.submit-answer
        Отправить

